.detail-container {
  width: 90%;
  margin: auto;
}
.main-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-detail {
  height: 500px;
  width: 500px;
}
.subsection {
  margin-left: 2px;
  padding-left: 15px;
  background-color: white;
  width: 600px;
}
.detailtitle {
  margin-top: 10px;
  font-size: 30px;
}
.detail-price {
  color: black;
  margin-top: 10px;
  text-decoration: none;
  font-size: 25px;
}
.detail-category {
  margin-right: 15px;
  font-size: 20px;
  color: rgb(224, 103, 103);
  padding-left: 10px;
  border-radius: 5px;
  height: 35px;
  background-color: rgb(222, 224, 223);
  display: flex;
  align-items: center;
}
.detaildescription {
  font-size: 17px;
  font-weight: 500;
  color: rgb(118, 120, 119);
}
.addcart {
  color: white;
  text-align: center;
  background-color: rgb(228, 60, 60);
  border-radius: 5px;
  height: 30px;
  font-weight: 500;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-cart-shopping {
  padding-right: 5px;
}
.addcart:hover {
  background-color: rgb(100, 27, 27);
}
.inlineloader {
  text-align: center;
  font-size: 30px;
}
